<div class="row gx-0 gy-3 mb-5 align-items-center">
  <div class="col-md-9 d-flex flex-column justify-content-start home-copy-column">
    <h3 class="fw-bold mb-3" style="border-bottom: none; font-size: 24px;">About Me</h3>

    <p class="mb-3">I’m a Mechanical Engineering student at McMaster University with a strong interest in robotics, mechanical design, automation, and product development. My interest in engineering started through smaller projects like building a Discord bot, where I learned programming, automation, debugging, and how to build systems that people could actually interact with. From there, I moved into more hands-on projects, including a dancing robot and school engineering competitions, which helped me become more interested in robotics and the connection between software, electronics, and mechanical design.</p>

    <p class="mb-3">Today, I’m focused on designing more complex systems that bring those areas together. My current major project is a custom 6-DOF robotic arm that I’m designing from the ground up. The project has involved CAD, planetary gearboxes, belt reductions, motor selection, bearings, tolerances, encoders, controls, and extensive 3D-printed prototyping.</p>

    <p class="mb-0">I enjoy learning by building, testing, and improving. Whether I’m working on code, mechanical assemblies, or full robotic systems, I like breaking large problems into smaller challenges and figuring out how each part contributes to the final result. Each project gives me a chance to strengthen my technical skills while becoming a more capable and well-rounded engineer.</p>
    <div class="mt-3 text-center">
      <a href="{{ site.github.url }}/about" style="text-decoration: underline;">Find out more</a>
    </div>
  </div>
  <div class="col-md-3 d-flex align-items-center justify-content-md-end justify-content-center home-image-column">
    <img src="{{ site.github.url }}/assets/img/IMG_0548.JPEG" alt="About Me" class="home-about-image">
  </div>
</div>
