<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5" style="font-size: 24px;">Contact</h3>
    {% for contact in site.data.settings.contact %}
    <div class="row g-5 mb-5">
      <div class="col-md-6">
        <h4 style="font-size: 24px;">{{ contact.name }}</h4>
        <p style="font-size: 24px; line-height: 1.6; margin-bottom: 0.5rem;">{{ contact.title }} | {{ contact.department }}</p>
        <p style="font-size: 24px; line-height: 1.6; margin-bottom: 0.5rem;">{{ contact.institution }} | {{ contact.institution_address }}</p>
        <p style="font-size: 24px; line-height: 1.6; margin-bottom: 0.5rem;">Phone: {{ contact.phone }}</p>
        <p style="font-size: 24px; line-height: 1.6; margin-bottom: 0;">Email: {{ contact.email }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
